<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Contact</title>
    <style>
    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
    </style>
</head>
<body align="center">
    <h1>For more information contact me:</h1>
    <table align="center" >
        <tr>
            <th>Name</th>
            <th>email</th>
        </tr>
        <tr>
            <td>Fabricio Mulato</td>
            <td>fmulato@yahoo.com</td>
        </tr>
    </table>

    <br><br>
    <hr/>
    <button onclick="window.location.href='/'">Return to Home Page</button>

    <script src="/static/script.js"></script>
</body>
</html>
