<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
</head>
<body>
    <h1>Welcome to Flask!</h1>
    <h2>My first web page</h2>
    <button id="alertBtn">Click Me</button>
    <button id="alertBtn2">Buttom 2</button>
    <button id="alertBtn3">Buttom 3</button>

    <br><br>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>Fabricio</td>
            <td>Mulato</td>
        </tr>
    </table>

    <script src="/static/script.js"></script>
</body>
</html>
